@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset helpers */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
